<header class="mb-5"> <!--Início do header-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> <!--Início da navegação-->
        <div class="container"> <!--Início do container-->
            <a href="/" class="navbar-brand"> <!--Início do título-->
                <h2>Estoque</h2>
            </a> <!--Fim do título-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <!--Início do botão do menu hamburguér-->
                <span class="navbar-toggler-icon"></span>
              </button> <!--Fim do botão do menu hamburguér-->
            <div class="collapse navbar-collapse" id="conteudoNav"> <!--Início do conteúdo da navegação-->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/api/produtos" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/api/registrarprodutos" class="nav-link ml-2">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/api/registrardesconto" class="nav-link ml-2">Desconto</a>
                    </li>
                    <li class="nav-item">
                        <a href="/api/administradores" class="nav-link ml-2">Funcionários</a>
                    </li>
                    <li class="nav-item">
                        <a href="/api/clientes" class="nav-link ml-2">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a href="/api/contato" class="nav-link ml-2">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="btn btn-danger ml-5">Sair</a>
                    </li>
                </ul>
            </div> <!--Fim do conteúdo da navegação-->
        </div> <!--Fim do container-->
    </nav> <!--Fim da navegação-->
</header> <!--Fim do header-->