<%- include("partials/head") %> 

<body>
    <%- include("partials/header") %> 

    <main> <!--Início do conteúdo principal-->
        <section> <!--Início da seção-->
            <div class="container"> <!--Início do container-->
                <div class="card w-50 mx-auto"> <!--Início do card que conterá o formulário-->
                    <div class="card-header bg-primary"> <!--Início do cabeçalho do card-->
                        <h2 class="text-center text-white">Adicionar produto</h2>
                    </div> <!--Fim do cabeçalho do card-->
                    <div class="card-body"> <!--Início do corpo do cartão-->
                        <form action="/api/produtos" method="post">
                            <input type="text" name="nomeProduto" id="nomeProduto" placeholder="Digite o nome do produto" class="form-control mb-4" required>
                            <input type="number" name="quantidadeProduto" id="quantidadeProduto" placeholder="Digite a quantidade em estoque" class="form-control mb-4" required>
                            <input type="text" name="precoProduto" id="precoProduto" placeholder="Digite o preço do produto em R$" class="form-control mb-4" required>
                            <button type="submit" class="btn btn-success w-100">Adicionar produto</button>
                        </form>
                    </div> <!--Fim do corpo do cartão-->
                </div> <!--Fim do card que conterá o formulário-->
            </div> <!--Fim do container-->
        </section> <!--Fim da seção-->
    </main> <!--Fim do conteúdo principal-->

</body>
<%- include("partials/footer") %> ;
